# Libraries Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Pre-processing Function

In [2]:
### To replace NaN values

#####  mediane si quantative
#####  mode si qualitative

def remplaceNanValues(df, columnName) :
    if columnName == 'Age' :
        x = df[columnName].mode()
    else :
        x = df[columnName].unique()[0]
        
    for index, row in df.iterrows() :
        if pd.isna(row[columnName]):
            df.loc[index, columnName] = x

In [3]:
def transformToString(df,columnName) :
    df[columnName] = df[columnName].apply(str)

In [4]:
def chooseAndDummifyVariables(df, features_columns, to_dummify, targetName):
    X = df[features_columns]
    y = df[targetName]    
    X = pd.get_dummies(X, columns = to_dummify)
    
    return X,y

# Model train, score and save Function

In [5]:
from sklearn.model_selection import train_test_split
import _pickle as cPickle

### Train and score the Model

In [6]:
def trainAndScore(model, X, y):
    liste_test_size = [a/20.0 for a in range(0,20)][1:]
    scores = []
    for ts in liste_test_size :
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = ts, random_state=0)
        clf = model.fit(X_train, y_train)
        score = clf.score(X_test, y_test)
        scores.append(score)
    print("[INFO] SCORES : ",scores)
    print("[INFO] MEAN = ",np.array(scores).mean())
    print("[INFO] MAX = ",max(scores))

### To save the Model

In [7]:
def saveModel(model) :
    filename = ''+model+'.sav'
    cPickle.dump(model, open(filename, 'wb'))

# Playing with the Data

In [27]:
df = pd.read_csv('train.csv', sep=',')

In [28]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [29]:
df.count()

Id               1460
MSSubClass       1460
MSZoning         1460
LotFrontage      1201
LotArea          1460
                 ...
MoSold           1460
YrSold           1460
SaleType         1460
SaleCondition    1460
SalePrice        1460
Length: 81, dtype: int64

In [30]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [31]:
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [35]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [51]:
df['YearBuilt'].unique()

array([2003, 1976, 2001, 1915, 2000, 1993, 2004, 1973, 1931, 1939, 1965,
       2005, 1962, 2006, 1960, 1929, 1970, 1967, 1958, 1930, 2002, 1968,
       2007, 1951, 1957, 1927, 1920, 1966, 1959, 1994, 1954, 1953, 1955,
       1983, 1975, 1997, 1934, 1963, 1981, 1964, 1999, 1972, 1921, 1945,
       1982, 1998, 1956, 1948, 1910, 1995, 1991, 2009, 1950, 1961, 1977,
       1985, 1979, 1885, 1919, 1990, 1969, 1935, 1988, 1971, 1952, 1936,
       1923, 1924, 1984, 1926, 1940, 1941, 1987, 1986, 2008, 1908, 1892,
       1916, 1932, 1918, 1912, 1947, 1925, 1900, 1980, 1989, 1992, 1949,
       1880, 1928, 1978, 1922, 1996, 2010, 1946, 1913, 1937, 1942, 1938,
       1974, 1893, 1914, 1906, 1890, 1898, 1904, 1882, 1875, 1911, 1917,
       1872, 1905], dtype=int64)

In [52]:
len(df['YearBuilt'].unique())

112

Features :
    * LotArea
    * YearBuilt
    * 1stFlrSF
    * 2ndFlrSF
    * FullBath
    * BedroomAbvGr
    * TotRmsAbvGrd

In [67]:
features_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd' ]
to_dummify = ['FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
targetName = 'SalePrice'

In [68]:
X, y = chooseAndDummifyVariables(df, features_columns, to_dummify, targetName)

In [69]:
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath_0,FullBath_1,FullBath_2,FullBath_3,BedroomAbvGr_0,BedroomAbvGr_1,...,TotRmsAbvGrd_4,TotRmsAbvGrd_5,TotRmsAbvGrd_6,TotRmsAbvGrd_7,TotRmsAbvGrd_8,TotRmsAbvGrd_9,TotRmsAbvGrd_10,TotRmsAbvGrd_11,TotRmsAbvGrd_12,TotRmsAbvGrd_14
0,8450,2003,856,854,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,9600,1976,1262,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,11250,2001,920,866,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,9550,1915,961,756,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,14260,2000,1145,1053,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,1999,953,694,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1456,13175,1978,2073,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1457,9042,1941,1188,1152,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1458,9717,1950,1078,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1459,9937,1965,1256,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

# Model Build

## Linear Regression

In [70]:
from sklearn.linear_model import LinearRegression

In [71]:
model = LinearRegression()

In [72]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.7918010610201173, 0.7514825941827763, 0.7440224765926597, 0.5476426806708763, 0.5730479811039138, 0.6103267611489169, 0.6192180624865161, 0.6312711241032037, 0.5854298556432732, 0.6011900186702719, 0.6144056909102852, 0.6230285863073147, 0.6212975641190249, 0.6130969789547963, 0.6292648876385948, 0.6283653085873904, 0.6713781240670778, 0.5645685228674164, 0.6701547141230916]
[INFO] MEAN =  0.6363680522735535
[INFO] MAX =  0.7918010610201173

# Polynomial Regression

In [75]:
from sklearn.preprocessing import PolynomialFeatures

In [85]:
def trainAndScore(model,degree, X, y):
    liste_test_size = [a/20.0 for a in range(0,20)][1:]
    scores = []
    for ts in liste_test_size :
        
        #Spliting the Data to Train and Test Data
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = ts, random_state=0)
        
        #Creates a polynomial regression model for the given degree
        poly_features = PolynomialFeatures(degree=degree)
        
        # transforms the existing features to higher degree features.
        X_train_poly = poly_features.fit_transform(X_train)
        X_test_poly = poly_features.fit_transform(X_test)
        
        # Fiting and scoring the Model
        clf = model.fit(X_train_poly, y_train)
        score = clf.score(X_test_poly, y_test)
        scores.append(score)
        
    print("[INFO] SCORES : ",scores)
    print("[INFO] MEAN = ",np.array(scores).mean())
    print("[INFO] MAX = ",max(scores))

In [86]:
model = LinearRegression()

In [90]:
trainAndScore(model, 2, X, y)

[INFO] SCORES :  [0.9124581607086505, -15.024518266562072, -280.32563445219444, -116.40559315681566, -264.5927142314078, -1.8684262600594517, -48.86412885694582, -528.9152235632818, -792.8375802080404, -1149.9500487308571, -230102338436.76144, -794.5633808205162, -918.2225053962858, -288.56281695838425, -67865436767990.89, -90474968080.22438, -1387.1136039360035, -12980.47899853772, -18548.361321509274]
[INFO] MEAN =  -3588737584874.8975
[INFO] MAX =  0.9124581607086505